<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/style1.css" rel="stylesheet">
</head>
<body style="background-color: rgb(228, 231, 233); background-size:cover;">
    <div id="heading">
        <h1>STUDENTS DETAILS</h1>
    </div>
    <div class="appbar">
        <h4 ><a href="/employee" class="bar-items">STUDENTS LIST</a></h4>
        <h4 ><a href="/register" id="reg" class="bar-items">REGISTRATION</a></h4>
        <!-- <h4 class="bar-items"><a href="/edit">Edit </a></h4> -->
    </div>
   
    
</body>
</html>